@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

.top > h1 {
    color: white;
    font-size: 50px;
}

.flower-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.articles {
    width: 500px;
    padding-right: 1rem;
}

.flower-card {
    margin: auto;
    max-width: 1200px;
}

.flower-card h1 {
   font-size: 50px;
}

img {
    max-width: 100%;
}


.top {
    height: 10rem;
    margin-bottom: 6rem; 
    background-color: black;
    text-align: center;

}

.top:first-child {
    padding-top: 3rem;
}

/* flower details */

.flower-details > h1 {
    font-size: 40px;
    }

.comment-form {
    display: flex;
    justify-content: start;

}

.comments {
    padding: 3rem 0;
    font-size: 20px;
    
}

a {
    color: black;
    font-size: 20px;
}

a:hover {
    text-decoration: none;

} 

@media screen and (max-width: 780px) {

    .flower-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
      
    }

    .articles {
        width: 400px;        
    }

    header {
        font-size: 40px;

    }

    .flower-details {
        text-align: center;
    }

    .flower-details > h1 {
    font-size: 40px;
    }

    .flower-card > h2 {
        text-align: center;
    }

    .comment-form {
    display: flex;
    justify-content: center;

    }

    .comments {
    text-align: center;
   
}

}


